<form action="/send_item" method="POST">
  <label for="Name">Название</label>
  <input type="text" name="Name"/>

  <label for="description">Описание</label>
  <input type="text" name="description"/>

  <label for="price">Цена</label>
  <input type="text" name="price"/>

  <label for="enabled">Видимость</label>
  <input type="text" name="enabled"/>

  <label for="type">Тип товара</label>
  <input type="text" name="type"/>

  <button type="submit">Сохранить</button>
</form>