<form action="/login" method="post">
    <h1>Вход</h1>

    <input placeholder="Login" name="username" type="text">

    <input placeholder="Password" type="password" name="password" type="text">

    <br>
    <button type="submit">Login</button>

    <a href="/registration_page">Registration</a>
</form>