<form action="/login" method="post">
    <h1>Вход</h1>

    <input placeholder="Логин" name="username" type="text">

    <input placeholder="Пароль" type="password" name="password" type="text">

    <br>
    <button type="submit">Войти</button>

    <a href="/registration_page">Зарегистрироваться</a>
</form>