<h1>Главная страница</h1>
<a href="/admin_panel">Панель управления администратора</a>
<br>
<a href="/cab">Личный кабинет</a>
<br>
<a href="/enter">Войти</a>
<br>
<a href="/registration_page">Регистрация</a>
<br>
<a href="/out">Выйти</a>