<h1>Главная страница</h1>
<a href="/admin_panel">Admin panel</a>
<br>
<a href="/cab">Cab</a>
<br>
<a href="/enter">Login</a>
<br>
<a href="/registration_page">Registration</a>
<br>
<a href="/out">Logout</a>
<br>
<a href="/shop">Shop</a>