<form  action="/registration" class="registration" method="post">
    <h1>Registration</h1>



    <input placeholder="Login" name="username" type="text">

    <input placeholder="Password" type="password" name="password" type="text">

    <br>
    <button type="submit">Registration</button>
    <a href="/enter">Login</a>
    </div>
</form>