<form  action="/registration" class="registration" method="post">
    <h1>Регистрация</h1>



    <input placeholder="Логин" name="username" type="text">

    <input placeholder="Пароль" type="password" name="password" type="text">

    <br>
    <button type="submit">Регистрация</button>
    <a href="/enter">Войти</a>
    </div>
</form>